.speech {
    font-family: 'YourSpeechFont', sans-serif;
    font-size: 16px;
    color: black;
}


.direction {
    font-family: 'YourDirectionFont', sans-serif;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
    transition: background-color 0.5s, color 0.5s;
}

.direction:hover {
    background-color: lightblue;
    color: brown;
}
.name{
    color:red;
    font-family: 'Courier New', Courier, monospace;
}

.KHIRIN {
    color: #3366cc;

}

.MERCHUTKINA {
    color: #cc6633;
    
}

.SHIPUCHIN {
    color: #339933;
}

.table{
    border-color:rgba(15, 181, 26, 0.705);
    width: 0vmax;
    text-align: center;
    padding: 15px;
    margin: 13px;
}
.table_header_col{
    background-color: blue;
}

th{
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(150, 5, 15);
    color:rgb(252, 250, 250);
    height: 60px;
    background-color:rgba(73, 181, 100, 0.858);
}

td {
    border: 2px solid;
    border-radius: 3px;
    border-color:rgb(198, 45, 106);
    height:50px;
}

tr:hover {background-color: rgba(210, 30, 102, 0.518);
}


